{% extends "header.html" %}
{% block content %}
<div class="card p-4 m-2">
    <div class="row">
        <div class="col">
            <h2>Log In</h2>
        </div>
    </div>
    <div class="row">
        <div class="col py-2">
            {# Ask the user to login if they already have an account #}
            If you don't have an account, then <a href="{{url_for('register')}}">register here</a>.
        </div>
    </div>
    <!-- Login Form: -->
    <form action="" class="my-2 my-lg-0" method="POST">
        {{ form.csrf_token }}
        {{ form.username(class="form-control", placeholder="Username") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {{ form.submit(class="btn btn-outline-success") }}
    </form>
    <div class="row">
        <div class="col">
            {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
            {# Login form rendered here with Bootstrap classes #}
            {% if form.username.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}