{% extends "base.html" %}
{% block content %}

<div>
    <h2> {{ name.replace("-"," ").title() }}</h2>
    <p> <b>Height:</b> {{ height }} decimeters </p>
    <p> <b>Weight:</b> {{ weight }} hectograms </p>
    <p> <b>Base Experience On Defeat:</b> {{ base_exp }} XP </p>
</div>

<div>
    <h3>Moves</h3>
    <ul>
        {% for move in moves %}
        <li>{{ move.replace("-"," ").title() }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <h3>Abilities</h3>
    <ul>
        {% for ability_name in abilities %}
        <a href="{{ url_for('pokemon_with_ability', ability_name=ability_name) }}">
            <li>{{ ability_name.replace("-"," ").title() }}</li>
        </a>
        {% endfor %}
    </ul>
</div>


<br>
{% endblock %}